<h1>Update Job</h1>
<form method="POST" action="/jobs/<%= job.id %>/update">
  <div class="mb-3">
    <label>Category</label>
    <input type="text" name="jobcategory" class="form-control" value="<%= job.jobcategory %>" required>
  </div>
  <div class="mb-3">
    <label>Designation</label>
    <input type="text" name="jobdesignation" class="form-control" value="<%= job.jobdesignation %>" required>
  </div>
  <div class="mb-3">
    <label>Location</label>
    <input type="text" name="joblocation" class="form-control" value="<%= job.joblocation %>" required>
  </div>
  <div class="mb-3">
    <label>Salary</label>
    <input type="text" name="salary" class="form-control" value="<%= job.salary %>" required>
  </div>
  <button type="submit" class="btn btn-warning">Update Job</button>
</form>
